body {
	background-image: radial-gradient(left right, ellipse cover, blue, #ffc800);
	background-image: -o-radial-gradient(top center, ellipse cover, blue, #ffc800);
	background-image: -ms-radial-gradient(top center, ellipse cover, blue, #ffc800);
	background-image: -moz-radial-gradient(top center, ellipse cover, blueviolet, #ffc800);
	background-image: -webkit-radial-gradient(top center, ellipse cover, blueviolet, #ffc800);
	font-family: "Luxurious Roman", cursive;
	font-size: 20px;
}

.Maindiv {
	width: 1200px;
    
	margin: 0 auto;
	display: flex;
	flex-direction: row-reverse;
}

.Maincontentdiv { 
    width: 760px ;
	padding: 40px 70px;
	background-image: radial-gradient(center top, ellipse cover, yellowgreen, orange);
	background-image: -o-radial-gradient(center top, ellipse cover, yellowgreen, orange);
	background-image: -ms-radial-gradient(center top, ellipse cover, yellowgreen, orange);
	background-image: -moz-radial-gradient(center top, ellipse cover, yellowgreen, orange);
	background-image: -webkit-radial-gradient(center top, ellipse cover, yellowgreen, orange);
	box-shadow: inset 6px 6px 20px rgba(219, 12, 12, 0.966);
}
/* width: 1480px; width: 1040px; */
.aboutdiv { margin-bottom: 40px;}

.aboutpos {     font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px; 
                margin-bottom: 20; }

.aboutname {    text-align: center;
                color: orangered;
	            text-transform: uppercase;
                font-style: normal;
                font-weight: bold;
                font-size: 45px;
                line-height: 55px;
                margin-bottom: 25}

.abouttext {    background-color: rgba(165, 42, 42, 0.5);
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 24px;
                text-align: center;}

.Projectdiv { 
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
    margin-bottom: 10px;
}

.Workdiv {  font-family: 'Times New Roman', Times, serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
          
             padding: 0px;}
	
	/*overflow: scroll; 
                            height: 400px;*/

.worlli { color: seagreen; padding-left: 20px;}
.workpoint { color: rgb(33, 9, 192);}
.worklitext{ color: rgb(117, 23, 39);}


.Exp {  font-family:'Courier New', Courier, monospace;
        font-style:oblique;
        font-weight:bold;   
        font-size: 20px;
        line-height: 30px;
        color: rgba(219, 12, 12, 0.966) ;
        margin-bottom: 10px;}

.-- { color:rgba(219, 12, 12, 0.966) ;}

.vntu {
	width: 70px;
    margin-left: 550px;
    
	
}

.Edudiv {
            font-style: normal;
            font-weight: bold;
            
            line-height: 20px;
}
.Eduname { margin-bottom: 20px;} 
.VNTU {     margin-top: 20px; font-family: 'Times New Roman', Times, serif;
                font-style: normal;
                font-weight:inherit;
                font-size: 18px;
                line-height: 20px;
            color: #330350;} 

.Faculty {      font-family: 'Times New Roman', Times, serif;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
            color: #611c03;} 

.Ukraine {      font-family:cursive;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
    color: rgb(47, 71, 3);}

.asidediv {
	width: 440px;
	
	background-color: teal;
	background-image: radial-gradient(center top, ellipse cover, teal, orange);
	background-image: -o-radial-gradient(center top, ellipse cover, teal, orange);
	background-image: -ms-radial-gradient(center top, ellipse cover, teal, orange);
	background-image: -moz-radial-gradient(center top, ellipse cover, teal, orange);
	background-image: -webkit-radial-gradient(center top, ellipse cover, teal, orange);
	margin-right: 0px;
	padding-top: 40px;
	padding-bottom: 20px;
}

.ph1 {
	width: 430px;
	margin: 5px;
}

.Rev {
	display: flex;
}

.inst {
	width: 70px;
	margin-top: 45px;
	margin-left: 20px;
}

.Contactdiv {
	width: 300px;
	margin: 40px 0px 0px 0px;
    color: rgb(219, 211, 241);
}
.Contactsname { 
	padding-left: 20px;
}
.contype {
    padding-left: 20px;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	
	
}


.pcontacts {
	background-color: rgba(0, 128, 0, 0);
}

.TSdiv {
	margin: 0px 250px 0px 10px;
}
.tsi {
	color: #fb6d3a;
}
.tsl {
	color: #473afb;
}

.Softdiv {
	margin: 0px 250px 0px 10px;
}


.Hl {
	padding-left: 20px;
    color: rgb(219, 211, 241);
}

/*h1 {
	text-align: center;
	
	color: orangered;
	text-transform: uppercase;
}
h2 {
	margin: 0px;
	font-size: 500;
	background-color: blueviolet;
	font-weight: normal;
	color: rgb(248, 182, 1);
}*/
.H3 {
	margin-bottom: 20px;
	font-size: 30px;
    color: rgb(219, 211, 241);
    padding: 0px;
}
h4 {
	padding-left: 0px;
	margin: 0px;
	font-size: 18pt;
	background-color: rgba(100, 148, 237, 0.822);
}
h5 {
	margin: 0px;
}

ol {
	margin: 5px 5px;
	
	background-image: radial-gradient(center top, ellipse cover, rgba(153, 205, 50, 0.466), rgba(255, 166, 0, 0.555));
	background-image: -o-radial-gradient(center top, ellipse cover, rgba(153, 205, 50, 0.329), rgba(255, 166, 0, 0.616));
	background-image: -ms-radial-gradient(center top, ellipse cover, rgba(153, 205, 50, 0.418), rgba(255, 166, 0, 0.678));
	background-image: -moz-radial-gradient(
		center top,
		ellipse cover,
		rgba(153, 205, 50, 0.411),
		rgba(255, 166, 0, 0.582)
	);
	background-image: -webkit-radial-gradient(
		center top,
		ellipse cover,
		rgba(153, 205, 50, 0.514),
		rgba(255, 166, 0, 0.575)
	);
}
ul {
	background-color: rgba(147, 218, 6, 0);
}
a {
	/* убираем подчеркивание в ссылках*/
	text-decoration: none;
}
p {
	
	font-family: 'Times New Roman', Times, serif;
                font-style:italic;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
	
}

.link {
	/* шрифт */
	font-family: "Helvetica Neue", "Roboto", "Verdana", sans-serif;
	/* размер шрифта*/
	font-size: 20px;
	/* ширина шрифта*/
	font-weight: 600;
	/* все буквы заглавочные */
	text-transform: uppercase;
	/* убираем подчеркивание в ссылках*/
	text-decoration: none;
}
